doctype html
html
  head
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/login.css")
    include partials/appName
  body
    div(class="background")
      div(class="container")
        h1(class="appHeader") Blue Vote
        p(class="subHeader") Welcome to Blue Vote <br> Make your own votes
        p(class="message")= message
        section
          form(
            class="loginForm"
            action="/login"
            method="POST"
          )
            input(
              class="email"
              name="email"
              placeholder="vanilla@gmail.com"
            )
            input(
              class="password"
              name="password"
              type="password"
              placeholder="✲✲✲✲✲✲✲✲"
            )
            button(class="loginBtn" type="submit") LOGIN
            a(href="/signUp")
              button(class="signUpBtn" type="button") SIGN UP
