doctype html
html
  head
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/login.css")
    include partials/appName
  body
    .background
      .container
        h1.appHeader BLUE VOTE
        p.subHeader Welcome to Blue Vote <br> Make your own votes
        p.message= message

        section
          form.loginForm(action="/login" method="POST")
            input.email(
              name="email"
              placeholder="vanilla@gmail.com"
            )
            input.password(
              name="password"
              type="password"
              placeholder="✲✲✲✲✲✲✲✲"
            )
            button.loginBtn(type="submit") LOGIN
            a(href="/signUp")
              button.signUpBtn(type="button") SIGN UP
