doctype html
html
  head
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/newVoting.css")
    include partials/appName
  body
    .background
      .container
        p.newVotingMessage= message
        form.newVotingForm(action="/votings/new" method="POST")
          input.votingTitle(
            type="text"
            name="title"
            placeholder="투표 주제를 입력하세요"
            maxlength="25"
          )
          span.votingTitleText 투표 주제는 25자 이하로 입력할 수 있습니다.

          input.expiredAt(
            type="datetime-local"
            name="expiredAt"
          )
          span.expiredAtText 투표 마감시간을 선택해주세요

          .optionRow
            input.option(
              type="text"
              name="options"
              maxlength="25"
            )
          .optionRow
            input.option(
              type="text"
              name="options"
              maxlength="25"
            )

          p.addOptionMessage 보기는 최대 5개까지만 만들 수 있습니다
          .buttons
            button.addOptionBtn(type="button") 보기 추가
            button.createVotingBtn(type="submit") 투표 만들기
        a(href="/")
          button.backToMainBtn(type="button") 메인으로 돌아가기

      script(src="/javascripts/newVoting.js")
