doctype html
html
  head
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(rel="stylesheet", href="/stylesheets/selectedVoting.css")
    include partials/appName
  body
    .background
      .container
        header.mainHeader
          a(href="/myVoting")
            button.myVotingBtn(type="button" alt="profile") 🙍‍♀️
          span.mainTitle BLUE VOTE
          a(href="/votings/new")
            button.newVotingBtn(type="button" alt="createNewVote") ➕
        p.selectedVotingComment= comment

        section.selectedVotingContainer
          h1.selectedVotingTitle= vote.title
          h2.selectedVotingExpiredAtText #{vote.expiredAt.toLocaleString() + ' 까지'}

          form.selectedVotingForm(action=`/votings/${id}` method="POST")
            each info in options
              button.votingOptionBtn(
                name="option"
                type="submit"
                value=`${info._id}`
                disabed=`${isActive}`
              )= info.option
                if isCreateUser
                  span.votingCount= info.votingCount
            a(href="/")
              button.backToVotingListBtn(type="button") 다른투표하기
          if isCreateUser
            form(action=`/votings/${id}?_method=DELETE` method="POST")
              button.removeVoteBtn(
                type="submit"
                onclick="window.history.back()"
              ) 삭제하기

    script(src="/javascripts/selectedVoting.js")
